
body
{
    margin: 0;
    padding: 0;
    font-family: "serif";
    background: rgb(180, 156, 156) url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color:rgb(255, 255, 255);
}
