<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='t.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <div class = 'container'>
            <div class = 'header'>
                <ul type = 'none'>
                    <form action="http://localhost:5000" method = 'POST'>
                        <li><button id = 'head' type = 'submit'>(r¥pt0gr@p#£r</button></li>
                    </form>
                </ul>
            </div>
        <h1>Algorithms!</h1>

        <form action = 'http://localhost:5000/home' method = 'POST'>
        <div class = 'but'>
            <br><br>
            <button id = 'submit' type = 'submit' name = 'opt' value = 'caeserc'>Caeser Cipher</button>
        </div>
        <div class = 'but'>
            <br><br><br>
            <button id = 'submit' type = 'submit' name = 'opt' value = 'keywordc'>Keyword Cipher</button>
        </div>
        <div class = 'but'>
            <br><br><br>
            <button id = 'submit' type = 'submit' name = 'opt' value = 'affinec'>Affine Cipher</button>
        </div>
        <div class = 'but'>
            <br><br><br>
            <button id = 'submit' type = 'submit' name = 'opt' value = 'rsaa'>RSA Algorithm</button>
        </div>
        <div class = 'but'>
            <br><br><br>
            <button id = 'submit' type = 'submit' name = 'opt' value = 'shah'>SHA Hashing</button>
        </div>
        <div class = 'but'>
            <br><br><br>
            <button id = 'submit' type = 'submit' name = 'opt' value = 'md5h'>MD5 Hashing</button>
        </div>
    </form>
    </div>
    </body>
</html>