<!DOCTYPE html>
<html lang="en" >
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

            <font color="#f0f8ff" size="6" >
                 <h1 align="center" >CRYPTOGRAPHIC TOOL</h1>
            </font>
            <font color="#f0f8ff" size="2" >
                <h1 align="center" >A simple tool used encrypt/decrypt messages.</h1><br>
            </font>
            <p align="center">
            <a href='CeasarCipher'><button id="CeasarCipher" >Ceasar Cipher</button></a><br><br>
            <a href='AffineCipher'><button type="button" id="AffineCipher">Affine Cipher</button></a><br><br>
            <a href='KeywordCipher'><button type="button" id="KeywordCipher">Keyword Cipher</button></a><br><br>
            <a href='RSA'><button type="button" id="RSA">RSA</button></a><br><br>
            <a href='SHA'><button type="button" id="SHA">SHA</button></a><br><br>
            <a href='MessageDigest'><button type="button" id="MessageDigest">MD5</button></a><br><br>

</p>

</body>
</html>