<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href= "{{url_for('static',filename='messagedigest.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = 'container'>
        <div class = 'header'>
            <ul type = 'none'>
                <form action="http://localhost:5000/" method = 'POST'>
                    <li><button id = 'head' type = 'submit'>(r¥pt0gr@p#£r</button></li>
                </form>
            </ul>
        </div>
    </div>
        <h1>Message Digest (MD5) </h1>
    <form action = 'http://localhost:5000/md5' method = 'POST'>
        <div class = 'entry'>
            <p id = 'enter' >Enter your text: <input id = 'box' type = 'text' name = 'given'></p>
            <br><br>
        </div>
        <div class = 'submit'>
            <br><br>
            <button id = 'submit' type = 'submit'>Go!</button>
        </div>
    </form>
</body>
</html>