<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <title>RSA</title>
</head>
<body>

<font color="#f0f8ff" size="5" >
<h1 align="center">ENCRYPT/DECRYPT A RSA</h1><br>
</font>
<font color="#f0f8ff" size="6" >
<form action="{{ url_for('crypto6')}}" method="post">
<p align="center">
<label for="data_string">Enter the text:</label>
<input type="text" id="data_string" name="d_string" placeholder="data_string"><br><br>
<input type="radio" id="Encrypt" name="option" value="Encrypt">Encrypt</input>
<input type="radio" id="Decrypt" name="option" value="Decrypt">Decrypt</input><br><br>
<button type="submit" value="Submit">Go!</button>
</p>
</form>
</font>
</body>
</html>