<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <title>SHA</title>
</head>
<body>

<font color="#f0f8ff" size="5" >
<h1 align="center">SHA EQUIVALENT</h1><br>
</font>
<font color="#f0f8ff" size="6" >
<form action="{{ url_for('crypto5')}}" method="post">
<p align="center">
<label for="data_string">Enter the text:</label>
<input type="text" id="data_string" name="d_string" placeholder="data_string"><br><br>
<input type="radio" id="SHA1" name="option" value="SHA1">SHA1</input><br><br>
<input type="radio" id="SHA256" name="option" value="SHA256">SHA256</input><br><br>
<input type="radio" id="SHA224" name="option" value="SHA224">SHA224</input><br><br>
<input type="radio" id="SHA384" name="option" value="SHA384">SHA384</input><br><br>
<input type="radio" id="SHA512" name="option" value="SHA512">SHA512</input><br><br>
<button type="submit" value="Submit">Go!</button>
</p>>
</form>
</font>
</body>
</html>