<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href= "{{url_for('static',filename='sha.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = 'container'>
        <div class = 'header'>
            <ul type = 'none'>
                <form action="http://localhost:5000/" method = 'POST'>
                    <li><button id = 'head' type = 'submit'>(r¥pt0gr@p#£r</button></li>
                </form>
            </ul>
        </div>
        <h1>Secure Hash Algorithms (SHA)</h1>
    <form action = 'http://localhost:5000/sha' method = 'POST'>
        <div class = 'entry'>
            <p id = 'enter' >Enter your text: <input id = 'box' type = 'text' name = 'given'></p>
            <br><br>
        </div>
        <div class = 'choice'>
            <p id = 'hash'>
        SHA1: <input type = 'radio' name = 'option' value = 'SHA1'>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        SHA224: <input type = 'radio' name = 'option' value = 'SHA224'>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        SHA256: <input type = 'radio' name = 'option' value = 'SHA256'>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        SHA384: <input type = 'radio' name = 'option' value = 'SHA384'>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        SHA512: <input type = 'radio' name = 'option' value = 'SHA512'>
        <br><br>
        </p>
        <div class = 'submit'>
            <br><br><br><br>
            <button id = 'submit' type = 'submit'>Go!</button>
        </div>
        </div>
        </form>
    </div>
</body>
</html>